CREATE TABLE App(
    AppID int primary key,
    AppMarketID varchar(500) NULL,
    Title varchar(500) NULL,
    Name varchar(255) NULL,
    Description varchar(10000) NULL,
    CategoryID int NULL,
    Version varchar(50) NULL,
    OperatingSystemID int NULL,
    Owner varchar(500) NULL,
    ContactEmail varchar(255) NULL,
    OwnerURL varchar(1000) NULL,
    URL varchar(500) NULL,
    Price decimal(18, 2) NULL,
    ImageSmallURL varchar(500) NULL,
    ImageMediumURL varchar(500) NULL,
    ImageLargeURL varchar(500) NULL,
    ReleaseDate timestamp NULL,
    Size varchar(50) NULL,
    StatusID int NULL,
    Rating int NOT NULL,
    TotalRaters int NOT NULL,
    Viewed int NOT NULL,
    IsClaimed smallint NOT NULL,
    ContentRating varchar(100) NULL,
    CreatedOn timestamp NULL,
    CreatedBy varchar(500) NULL,
    UpdatedBy varchar(500) NULL,
    UpdatedOn timestamp NULL,
    DeveloperAndroidPage varchar(500) NULL,
    IsHidden smallint NOT NULL,
    ThreatLevel int NULL,
    IsLocked smallint NOT NULL,
    VideoObjectScript varchar(3000) NULL);