CREATE TABLE LUTCarrier(
    CarrierId int primary key,
    Name varchar(250) NULL,
    Description varchar(1000) NULL,
    CreatedBy varchar(500) NULL,
    CreatedOn timestamp NULL,
    UpdatedBy varchar(500) NULL,
    UpdatedOn timestamp NULL);