CREATE TABLE LUTManufacturer(
    ManufacturerID int primary key,
    Name varchar(50) NULL,
    CreatedBy varchar(500) NULL,
    CreatedOn timestamp NULL,
    UpdatedBy varchar(500) NULL,
    UpdatedOn timestamp NULL
);